.Cards {
  display: flex;
  gap: 10px;
  width: 30rem;
}
.parentContainer{
  width: 100%;
  padding: 2rem;
}

@media screen and (max-width: 1200px) {
  .Cards{
    flex-direction: column;
    width: 100%;
  }
  .parentContainer{
    height: 9rem;
    width: 100%;
  }
}

@media screen and (max-width: 768px)
{
  .Cards{
    width: 90%;
  }
}
