
.placeholder{
    color:black!important;
}
p{
    color: red;
}
.sample{
    /* background-color: #D3D3D3!important; */
    color: black!important;
    /* border-radius: 8px!important; */
    border: 1 px solid black!important;
}

.btn{
    background: #551a8b;
    color:white!important;
}
input {
    height:40px!important;
}
.no-scroll {
    overflow-x: hidden!important;
  }